{% extends 'base.html' %}
{% block title %}Signup{% endblock %}

{% block body %}
<div class="container my-5">

    {% if msg %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{msg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <h1 style="text-align: center;">Signup</h1>
    <hr>

    <form method="post" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
        {% csrf_token %}
        <div class="col-md-6">
            <label for="validationCustom01" class="form-label">Profile Photo</label>
            <input type="file" name="pphoto" class="form-control" id="validationCustom01" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom01" class="form-label">First name</label>
            <input type="text" name="firstname" class="form-control" id="validationCustom01" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom02" class="form-label">Last name</label>
            <input type="text" name="lastname" class="form-control" id="validationCustom02" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustomUsername" class="form-label">Username</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="text" name="username" class="form-control" id="validationCustomUsername"
                    aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom01" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="validationCustom01" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom03" class="form-label">City</label>
            <input type="text" name="city" class="form-control" id="validationCustom03" required>
            <div class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom04" class="form-label">State</label>
            <select class="form-select" name="state" id="validationCustom04" required>
                <option selected disabled value="">Choose...</option>
                <option>Gujarat</option>
                <option>Delhi</option>
                <option>Goa</option>
                <option>Punjab</option>
            </select>
            <div class="invalid-feedback">
                Please select a valid state.
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom05" class="form-label">Mobile</label>
            <input type="number" name="mobile" class="form-control" id="validationCustom05" required>
            <div class="invalid-feedback">
                Please provide a valid zip.
            </div>
        </div>

        <div class="col-12">
            <button class="btn btn-dark" type="submit">Signup</button>
        </div>
    </form>

</div>
{% endblock %}